nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

a {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color--nav-link-background);
  color: var(--color--body-foreground);

  text-decoration: none;
  border-radius: 0.2rem;

  &:hover {
    background-color: var(--color--nav-link-background--hover);
  }
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}

img {
  float: left;
  width: 40px;
}

p {
  font-size: 8mm;
}
